@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 60px;
    background-color: #D2232A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
}

header img {
    height: 60px;
    margin-left: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    color: white;
    text-decoration: none;
}

nav ul a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
}

.hidden {
    display: none;
}

.banner {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url(/assets/img/background-initial-page.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.banner img {
    width: 180px;
    margin-bottom: 100px;
}

banmer h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.escudo-pulsante {
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.crf {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: justify;
    padding-bottom: 40px;
}

.crf h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 2.5rem;
}

.crf span {
    font-weight: bold;
    font-size: 1.7rem;
}

.history{
    padding: 5px;
    padding-bottom: 40px;
    text-align: justify;
}

.history h1{
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 30px;
}

.content-history{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.history-img{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-img img{
    width: 480px;
    border-radius: 20px;
}

.history-text{
    width: 50%;
    font-size: 1.2rem;
}

.history-text p{
    padding-bottom: 20px;
}

.history-text button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.conquistas {
    background-color: #D2232A;
    /* padding: 5px; */
    padding-bottom: 40px;
}

.content {
    color: white;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.conquistas h1{
    font-size: 2.5rem;
}

.content button {
    background-color: white;
    color: #D2232A;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.conquistas p {
    width: 93%;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 40px;
}

.rei-zico {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.rei-zico img {
    width: 250px
}

.titulos {
    width: 80%;
    margin: 0 auto;
}

.titulos h1 {
    text-align: center;
    margin-top: 80px;
}

.tacas {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    
}

.card img {
    max-width: 100%;
    width: 100%;
    /* imagem ocupará 100% da largura do card */
    height: 200px;
    /* altura automática para manter a proporção */
}

.card-text {
    padding: 20px;
    /* padding interno para o texto */
}

.card-text h2 {
    margin-top: 0;
    /* remova a margem superior padrão do título */
}

.card-text p {
    margin-bottom: 0;
    /* remova a margem inferior padrão do parágrafo */
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

footer a {
    color: #ccc;
    text-decoration: none;
}

footer i{
    color: #fff;
    font-size: 2rem;
    margin: 10px;
}