@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #D2232A;
    color: #fff;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    top: 0;
}

header img {
    height: 60px;
    margin-left: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    color: white;
    text-decoration: none;
}

nav ul a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
}

header span {
    display: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.banner {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)), url("../img/background-initial-page.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.banner img {
    width: 140px;
    margin-bottom: 100px;
}

banmer h1 {
    font-size: 50px;
    margin-bottom: 20px;
}


h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.crf {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 1.2rem;
    text-align: justify;
}

.welcome{
    width: 80%;
}

.crf h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 2.5rem;
}

.crf span {
    font-weight: bold;
    font-size: 1.7rem;
}

.history{
    padding: 5px;
    padding-bottom: 40px;
    text-align: justify;
}

.history h1{
    background-color: white;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 40px;
    padding-bottom: 30px;
}

.content-history{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.history-img{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-img img{
    width: 480px;
    border-radius: 20px;
}

.history-text{
    width: 50%;
    font-size: 1.2rem;
}

.history-text p{
    padding-bottom: 20px;
}

.history-text button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.conquistas {
    background-color: #D2232A;
    /* padding: 5px; */
    padding-bottom: 40px;
}

.content {
    color: white;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.conquistas h1{
    font-size: 2.5rem;
}

.content button {
    background-color: white;
    color: #D2232A;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.conquistas p {
    width: 93%;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 40px;
}

.rei-zico {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.rei-zico img {
    width: 250px
}

.titulos {
    width: 80%;
    margin: 0 auto;
}

.titulos h1 {
    text-align: center;
    margin-top: 80px;
}

.tacas {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    
}

.card img {
    max-width: 100%;
    width: 100%;
    /* imagem ocupará 100% da largura do card */
    height: 200px;
    /* altura automática para manter a proporção */
}

.card-text {
    padding: 20px;
    /* padding interno para o texto */
}

.card-text h2 {
    margin-top: 0;
    /* remova a margem superior padrão do título */
}

.card-text p {
    margin-bottom: 0;
    /* remova a margem inferior padrão do parágrafo */
}

.main-historia{
    max-width: 80vw;
    margin: 0 auto;
    margin-top: 100px;
}

.main-historia h1{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.main-historia p{
    text-align: justify;
    font-size: 1.2rem;
}

.fundacao{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
}

.fundacao img{
    width: 400px;
    border-radius: 20px;
}

.inicio-futebol{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
}

.inicio-futebol img{
    width: 400px;
    border-radius: 20px;
}

.tri-estadual{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
}

.tri-estadual img{
    width: 400px;
    border-radius: 20px;
}

.tetra-copa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
}

.tetra-copa img{
    width: 400px;
    border-radius: 20px;
}

.octa-brasileiro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
}

.octa-brasileiro img{
    width: 400px;
    border-radius: 20px;
}

.tri-america{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
}

.tri-america img{
    width: 400px;
    border-radius: 20px;
}

.mundial{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
}

.mundial img{
    width: 400px;
    border-radius: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

footer a {
    color: #ccc;
    text-decoration: none;
}

footer i{
    color: #fff;
    font-size: 1.3rem;
    margin: 10px;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .history-img img {
        width: 100%;
    }

    .history-text {
        width: 100%;
    }

    .content-history {
        flex-direction: column;
    }

    .titulos {
        width: 100%;
    }

    .tacas {
        justify-content: center;
    }

    .card {
        width: 80%;
    }

    .main-historia img{
        width: 100%;
    }

    .fundacao{
        flex-direction: column;
    }

    .inicio-futebol{
        flex-direction: column;
    }

    .tri-estadual{
        flex-direction: column;
    }

    .tetra-copa{
        flex-direction: column;
    }

    .octa-brasileiro{
        flex-direction: column;
    }

    .tri-america{
        flex-direction: column;
    }

    .mundial{
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    
    nav{
        display: none;
        padding: 15px 0;
    }

    header span {
        display: block;
        position: absolute;
        right: 1rem;
        font-size: 2rem;
        cursor: pointer;
        margin-top: 15px;
    }

    nav.mobile {
        display: flex;
        flex-direction: column;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .banner h1 {
        font-size: 30px;
    }

    .crf h1 {
        font-size: 2rem;
    }

    .crf {
        font-size: 1rem;
    }

    .history h1 {
        font-size: 2rem;
    }

    .history-text {
        font-size: 1rem;
    }

    .conquistas h1 {
        font-size: 2rem;
    }

    .conquistas p {
        font-size: 1rem;
    }

    .titulos h1 {
        font-size: 2rem;
    }

    .main-historia img{
        width: 100%;
    }

    .fundacao{
        flex-direction: column;
    }

    .inicio-futebol{
        flex-direction: column;
    }

    .tri-estadual{
        flex-direction: column;
    }

    .tetra-copa{
        flex-direction: column;
    }

    .octa-brasileiro{
        flex-direction: column;
    }

    .tri-america{
        flex-direction: column;
    }

    .mundial{
        flex-direction: column;
    }
}